
form{
    
    padding: 50px 20px;
    background-color: #8b8ceb;
    margin: calc(25% + 100px);
    margin-top: 70px;
    padding-top: 29px;
    margin-bottom: 30px;
    font-family: century gothic;
    text-align: center;


}

h1 {
    text-align: center;
    color: #a22;
}

input { 
    width: calc(100% - 20px);
    padding: 9px;
    margin: auto;
    margin-top: 12px;
    font-size: 16px;
    background-color: rgb(120, 240, 136);
}

button{
    width: calc(100% - 20px);
    padding: 9px;
    margin: auto;
    margin-top: 12px;
    font-size: 16px;
    background-color: rgb(240, 232, 120);
}